
/**
    Presentation Styles
    (Gehören nicht zum Styleguide)
 */
#content {
    width: 800px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}
.entry {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

/**
    Global Styles
 */
* {
    font-family: Arial;
}

/**
    Typographie
 */
h1 {
    color: #3EB36A;
    font-size: 30px;
    padding-bottom: 36px;
}


/**
    Colors
 */
.color {
    display: inline-block;
    width: 100px;
    height: 18px;
    float: right;
}
.color-primary {
    background-color: #3EB36A;
}
.color-secondary {
    background-color: #82FFB2;
}
.color-background {
    background-color: #9CFFC2;
}
.color-contrast-1 {
    background-color: #B31F17;
}
.color-contrast-2 {
    background-color: #FF4E45;
}

/**
    Images
 */
span.image {
    position: relative;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    line-height: 0;
}

span.image span.caption {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    padding: 8px 0px;
    display: inline-block;
    line-height: normal;
}

span.image-invert span.caption {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/**
    Tables
 */

/**
    Buttons
 */
.button {
    display: inline-block;
    padding: 15px 15px;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.25s;
    margin-bottom: 5px;
}

/** Sizes **/
.button-small {
    padding: 5px 10px;
}
.button-big {
    padding: 25px 25px;
}

/** Colors **/
.button-primary {
    background-color: #82FFB2;
}
.button-primary:hover {
    background-color: #abffcb;
}
.button-secondary {
    background-color: #B31F17;
    color: white;
}
.button-secondary:hover {
    background-color: #FF4E45;
}
.button-light {
    background-color: #FF4E45;
    color: white;
}
.button-light:hover {
    background-color: #ea3d34;
}