/*** Buttons ***/
$button-foreground: white;
$button-background: black;

.button {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    color: $button-foreground;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.6rem;
    transition: background-color 0.25s;
    margin-bottom: 0.5rem;
}

.button-primary {
    background-color: $primary;
}

.button-primary:hover {
    background-color: $contrast_primary;
    color: $button-foreground;
}

.button-secondary {
    background-color: $secondary;
    color: $button-foreground;
}

.button-secondary:hover {
    background-color: $contrast_secondary;
    color: $button-foreground;
}

.button-light {
    background-color: $button-foreground;
    border: 0.1rem $button-background solid;
    color: $button-background;
}

.button-light:hover {
    background-color: $button-background;
    color: $button-foreground;
}