/*** Variables ***/
@import './variables.scss';

/*** Global Styles ***/
body {
    margin-top: 7rem;
    margin-bottom: 7rem;
    font-family: $font;
}

section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

ul {
    list-style-type: none;
}

/*** CSS Styleguid - Anforderungen ***/
@import './layout.scss';
@import './colors.scss';
@import './media.scss';
@import './typography.scss';
@import './buttons.scss';
@import './tables.scss';