/*** Navbar ***/
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background;
    text-transform: uppercase;

    a {
        float: left;
        color: $primary;
        text-align: center;
        text-decoration: none;
    }

    a.nav-brand {
        font-size: 2rem;
        font-weight: bold;
        padding: 1.4rem 1.6rem;
    }

    a.nav-brand:hover {
        color: $primary;
    }

    a.nav-item {
        font-size: 1.7rem;
        padding: 2rem 1.6rem;
    }

    a.nav-item:hover {
        background-color: $secondary;
        color: $background;
    }
}

/*** Content Area ***/
.underline {
    margin: auto;
    max-width: 50rem;
    border-top: 0.2rem grey solid;
}

.content-right {
    text-align: right !important;
}

.content-left {
    text-align: left !important;
}

.content-center {
    text-align: center !important;
}

/*** Sizes ***/
.is-small {
    padding: 0.5rem 1rem !important;
}

.is-large {
    padding: 2.5rem 2.5rem !important;
}

/*** Footer ***/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    background-color: $background;
    color: $primary;
}