/*** Images ***/
.image {
    z-index: -1;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;

    .caption {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 1rem 0;
        background-color: $background;
        color: white;
    }
}

.image-dark {
    .caption {
        background-color: $primary;
    }
}

/*** Videos ***/
.video {
    width: 56rem;
    height: 31.5rem;
    border-radius: 1.5rem;
}