/*** Typography ***/
h1,
h2,
h3,
h4 {
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

/*** Links ***/
a {
    color: $primary;
}

a:hover {
    color: $contrast_primary;
}