// Font
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu&display=swap');
$font: 'Titillium Web', sans-serif;

// Colors
$primary: #1C0ECC;
$secondary: #4093CC;
$background: #8CB4CC;
$contrast_primary: #9C1900;
$contrast_secondary: #D9A68B;