/*** Font ***/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu&display=swap');
$font: 'Titillium Web', sans-serif;

/*** Colors ***/
$primary: #FF0539;
$secondary: #DE390B;
$background: #FAA614;
$contrast_primary: #00A87C;
$contrast_secondary: #07F5B6;